<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
<title>Bollywood News: Latest Entertainment News &amp; Gossips From Bollywood, Hollywood, Korean</title>
<link rel="shortcut icon" href="https://www.pinkvilla.com/files/icons/favicon.ico" type="image/x-icon"></link>

</head>
<body>

        <div class="heading-div">
    
            <h1>PINKVILLA</h2>
        </div>
     <div class="">

         <div id="newsFeed" class="row justify-content-md-center p-4">
        </div>
        <div id="loader"><div></div><div></div><div></div></div>
    </div> 


</body>
<script src="./index.js"></script>

</html>